<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/img/note2.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">NOTEBOOK GAMER ALIENWARE</h5>
        <p class="card-text">Laptop gamer de 17 polegadas revolucionário com processadores Intel® Core™ de 9ª geração
            atualizáveis e com overclock para desktop, além de placa de vídeo NVIDIA® GeForce RTX™ e chassi em liga de
            magnésio.</p>
            <hr>
            <p>$2390.99</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
</div>