<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <app-notebook-card></app-notebook-card>
    <app-notebook-card></app-notebook-card>
    <app-notebook-card></app-notebook-card>
    <app-notebook-card></app-notebook-card>
  </div>
  <div class="row">
    <app-notebook-card></app-notebook-card>
    <app-notebook-card></app-notebook-card>
    <app-notebook-card></app-notebook-card>
    <app-notebook-card></app-notebook-card>
  </div>
  <div class="row">
    <app-notebook-card></app-notebook-card>
    <app-notebook-card></app-notebook-card>
    <app-notebook-card></app-notebook-card>
    <app-notebook-card></app-notebook-card>
  </div>
  <div class="row">
    <app-notebook-card></app-notebook-card>
    <app-notebook-card></app-notebook-card>
    <app-notebook-card></app-notebook-card>
    <app-notebook-card></app-notebook-card>
  </div>



</div>
<app-footer></app-footer>